// Variable Color
$background-color: #4f7eff;
$color-white: #ffffff;
$color-black: #272733;
$color-gray: #383838;
$color-gray-light: #888888;
$color-button: #defafd;
$color-text-button: #276f76;
$color-operator: #FEF5DA;
$color-text-operator: #a78522;
$color-line: #e1e1e1;

// Variable Radius
$card-radius: 20px;

// Variable Shadow
$card-shadow: 0px 3px 80px -30px rgba(13, 81, 134, 1);